[submodule "third_party/anilist-docs"]
	path = third_party/anilist-docs
	url = https://github.com/AniList/docs.git

[submodule "third_party/langchain_dart"]
	path = third_party/langchain_dart
	url = https://github.com/davidmigloz/langchain_dart.git
