build/
.dart_tool/
.build-cache/
.flutter-plugins-dependencies
native/**/target/
native/**/*.dll
native/**/*.lib
native/**/*.a
native/**/*.7z
native/**/*.mkv
native/**/*.mp4
/AniVault-android-release.apk
/AniVault-windows-release/
third_party/torrent/
